* {
  margin:0;
  padding:o;
  box-sizing: border-box;
  /* border:1px solid; */
}
:root {
  --bgc1: #F0F8FF;
  --bgc2: #7B3F00;
  --bgc3: #00BFFF;
  --bgc4: #F5F5F5;
  --bgc5: #E5E4E2;
  --bgc6: #F6F7F9;
}
.app {
  height:100vh;
  width:100vw;
}
/* home page */
.home {
  height:100vh;
  width:100vw;
  position:relative;
  overflow:hidden;
}
.home-top {
  height:60vh;
  width:inherit;
  background-image: url('./images/home-image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.home-top p {
  z-index:2;
  color:white;
  display:absolute;
  font-size:4.2rem;
  font-weight:900;
  font-style: italic;
  text-shadow: -1px 1px 0 #000,
  1px 1px 0 #000,
  1px -1px 0 #000,
  -1px -1px 0 #000;
  letter-spacing: 4px;
}
.home-top i {
  color:white;
  font-size:1.6rem;
  text-shadow: -1px 1px 0 #000,
  1px 1px 0 #000,
  1px -1px 0 #000,
  -1px -1px 0 #000;
  letter-spacing: 4px;
}
.home-top img {
  height:inherit;
  width:inherit;
  object-fit: cover;
}
.home-center {
  height:16vh;
  width:700px;
  max-width:80vw;
  position:absolute;
  top:50vh;
  left:50%;
  transform: translate(-50%);
  z-index: 2;
  display:flex;
  justify-content: space-between;
  background-color: var(--bgc1);
}
.home-center hr {
  height:80%;
  margin:auto;
}
.home-center-box {
  width:25%;
  height:inherit;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: center;
  padding:2vh;
}
.home-center-box .fa-solid{
  font-size:30px;
}
.home-services-title {
  display:none;
}
.home-bottom {
  height:40vh;
  width:inherit;
  display:flex;
  justify-content: space-between;
}
.home-bottom-right {
  width:40%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
}
.home-bottom-right p {
  font-size:1.1rem;
  font-weight: 700;
}
.home-bottom-right a {
  text-decoration: none;
  background-color: var(--bgc2);
  color: white;
  padding:10px 20px;
  border-radius:10px;
  font-weight:700;
  font-size: 1.1rem;
}
.home-bottom-left {
  width:60%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap:20px;
  padding:0 20px;
}
.home-bottom-left div {
  width:60%;
  text-align: end;
}
.home-bottom-left img {
  height:80%;
  width:35%;
  object-fit: cover;
  opacity:.8;
  background-color: black;
  animation: imagey 7s ease-in-out infinite ;
  animation-direction: alternate;
}
@keyframes imagey {
  0% {
    opacity:1;
  }
  70% {
    opacity:.9;
  }
  100% {
    opacity:.1;
  }
}

/* home page */
/* main page */
.main {
  height:100vh;
  width:100vw;
  overflow:hidden;
}
.main-top {
  height:50vh;
  background-image: url('./images/main-image3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-header {
  height:10vh;
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:0 20px;
}
.main-header-tabs {
  width:250px;
  display:flex;
  justify-content: space-between;
}
.main-header-tabs a {
  text-decoration:none;
  font-weight:700;
  color:white;
}
.main-top-body {
  height:40vh;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  gap:20px;
}
.main-top-body p {
  font-size:2.0rem;
  font-weight:700;
  color:white;
  text-align: center;
}
.main-top-body span {
  width:400px;
  height:6vh;
  display:flex;
  justify-content: space-between;
}
.main-top-body span a {
  text-decoration: none;
  background-color: orangered;
  width:150px;
  height:inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color:black;
  font-weight:700;
  font-size:1.2rem;
  border-radius: 10px;
}
.main-bottom {
  height:50vh;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.main-bottom h4 {
  height:7vh;
  padding-top:1vh;
  font-size:1.3rem;
}
.main-bottom-body {
  height:40vh;
  width:1100px;
  max-width:80vw;
  display:flex;
  justify-content:space-between
}
.main-bottom-body a {
  width:20%;
  height:inherit;
  border-radius:15px;
  box-shadow: 1px 1px 1px black;
  text-decoration:none;
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
  color:black;
}
.main-bottom-body a:hover {
  background-color: black;
  color:white;
  animation: buttony 0.5s forwards;
}
@keyframes buttony {
  from {
    width:20%;
  }
  to {
    width:calc(20% + 2%);
  }
}
.main-bottom-body a img {
  height:80%;
  width:100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.main-bottom-body a p {
  font-weight:500;
  font-size:1.3rem;
}
/* main page */

/* Services header */
.services-header {
  height:10vh;
  width:100vw;
  display:flex;
  justify-content: space-between;
  align-items:center;
  padding:0 20px;
}
.services-header div {
  width:370px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:5vh;
}
#btn {
  display:none;
}
#btn1, #btn2 {
  display:none;
}
.services-header a {
  text-decoration: none;
  color:black;
  font-size:1.2rem;
  font-weight:600;
  padding:5px 10px;
  border-radius:10px;
}
.services-header a:hover {
  background-color: var(--bgc5);
}
.services-header a .fa-solid {
  font-size:30px;
}
/* Services header */
/* tabs */
.tabs {
  height:10vh;
  width:100vw;
  display:flex;
  justify-content: center;
  align-items: center;
  position: -webkit-sticky ;
  position:sticky;
  top:0;
  background-color: var(--bgc6);
}
.tabs-tabs {
  height:10vh;
  width:max-content;
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap:50px;
  padding:0 50px;
}
.tabs-tabs a {
  text-decoration:none;
  color:black;
  font-size: 1.2rem;
  font-weight:600;
  border-bottom:3px solid transparent;
}
.tabs-tabs a:hover, .tabs-tabs a:focus {
  border-bottom: 3px solid black;
}
/* tabs */
/* foods */
.foods {
  height:max-content;
  padding-bottom:5vh;
  width:100vw;
  position:relative;
  background-color: var(--bgc6);
}
.categories-bgc-img {
  height:50vh;
  width:100%;
  object-fit: cover;
}
#hot-beverages, #main-course, #dessert, #sandwich, #salad {
  height:max-content;
  padding-top:10vh;
  margin-bottom:5vh;
}
#hot-beverages h3, #main-course h3, #dessert h3, #sandwich h3, #salad h3 {
  text-align: center;
  height:5vh;
}
/* food items */
.food-items {
  height:max-content;
  display:grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: space-between;
  padding:20px;
  gap:50px;
}
.food {
  width:300px;
  height:150px;
  box-shadow: 1px 1px 1px 1px black;
  border-radius: 10px;
  display:flex;
}
.food-info {
  width:45%;
  height:inherit;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.food-info p {
  text-align:center;
}
.food img {
  width:55%;
  height:inherit;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
/*  */

/* foods */
/* rooms */
.rooms {
  height:max-content;
  background-color: var(--bgc6);
}
#rooms {
  padding:10vh 20px;
  width:100vw;
  display:grid;
  grid-template-columns: repeat( auto-fit,350px);
  justify-content: space-around;
  gap:20px;
}
.room {
  height:350px;
  text-decoration: none;
  color:black;
  width:300px;
  display:flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 1px 1px black;
  padding:5px;
  border-radius: 10px;
}
.room:hover {
  background-color: var(--bgc5);
}
.room h3 {
  margin:5px 0;
}
.room img {
  height:200px;
  width:inherit;
  object-fit: cover;
}
.room .room-props {
  width:inherit;
  margin:5px 0;
  overflow:hidden;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.room-props p {
  font-size: 0.9rem;
  text-align: center;
}
.room-props a {
  text-decoration: none;
  border:1px solid;
  border-radius: 10px;
  padding:5px 10px;
  color:black;
}
/* rooms */
/* room details */
.room-details {
  height:160vh;
  width:100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--bgc6);
  padding-bottom:5vh;
}
.room-details-header {
  height:10vh;
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:0 10px;
  background-color: var(--bgc6);
  position: -webkit-sticky;
  position:sticky;
  top:0;
}
.room-details-header a {
  text-decoration: none;
  color:black;
  font-weight: 600;
  padding:5px;
  border-top:1px solid;
  border-bottom: 1px solid;
  display:flex;
  align-items: center;
  font-size: 1.1rem;
  gap:5px;
}
.room-details-header a:hover {
  background-color: var(--bgc5);
}
.room-details-header a .fa-solid {
  font-size:30px;
}
.room-details-body {
  height:140vh;
  width:100vw;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap:20px;
  background-color: var(--bgc6);
}
.room-details-body img {
  height:60vh;
  width:600px;
  object-fit: cover;
}
.room-details-body ul {
  height:30vh;
  width:60%;
  display:grid;
  grid-template-columns: repeat(3, 300px);
}
.room-details-body ul li {
  font-size:1.2rem;
  font-weight:700;
}

.room-desc {
  height:30vh;
  width:60%;
  font-weight:700;
  font-size:1.2rem;
  text-align:center;
}
.room-details form {
  padding:0 10px;
  height:30vh;
  width:60%;
  box-shadow: 1px 1px 1px 1px black;
  border-radius:10px;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.room-details form label {
  display: flex;
  gap:5px;
  /* flex-direction: column; */
}
.room-details form input {
  height:4vh;
  border:1px solid gray;
  width:100px;
}
.room-details form input:focus {
  outline:0;
}
.room-details form button {
  height:5vh;
  padding:5px 10px;
  border-radius: 10px;
  background-color: var(--bgc3);
  font-size: 1.2rem;
  border:1px solid gray;
  font-weight:600;
  cursor:pointer;
}
/* activities */
.games {
  height:max-content;
  background-color: var(--bgc6);
}
#activities {
  height:max-content;
  width:100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:50px;
  padding-top:10vh;
}
.activity {
  height:70vh;
  width:800px;
  display:flex;
}
.activity-info {
  width:50%;
}
.activity img {
  width:50%;
  height:inherit;
  object-fit: cover;
}
/* activities */

@media screen and (max-width: 1000px) {
  /* home page */
.home {
  height:230vh;
  overflow-x: hidden;
  overflow-y: scroll;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.home-top {
  justify-content: center;
}
.home-center {
  height:40vh;
  width:400px;
  max-width:90vw;
  position:unset;
  left:0;
  transform:none;
  display:grid;
  grid-template-columns: auto auto;
  justify-content:center;
  padding:20px 0;
}
.home-center hr {
  display:none;
}
.home-center-box {
  width:40vw;
  height:15vh;
}
.home-services-title {
  display:initial;
}
.home-bottom {
  height:120vh;
  flex-direction:column-reverse;
  justify-content: space-between;
}
.home-bottom-right {
  height:20vh;
  width:100%;
}
.home-bottom-left {
  height:90vh;
  width:100%;
  flex-direction:column;
  align-items: center;
  padding:0;
}
.home-bottom-left img {
  width:300px;
  height:40vh;
  max-width:90vw;
}
.home-bottom-left div {
  height:40vh;
}
.home-bottom hr {
  display:none;
}
.home-bottom-left h3 {
  max-width:95vw;
  text-align: center;
}
.home-bottom-left p {
  padding:10px 5px;
  max-width:95vw;
  text-align: center;
}
/* home page */

/* main page */
.main {
  overflow-y:scroll;
}
.main-top {
  height:60vh;
}
.main-header {
  padding:0 10px;
}
.main-top-body {
  padding:0 20px;
}

.main-bottom {
  height:160vh;
  background-color: var(--bgc1);
  padding-bottom:10vh;
}
.main-bottom h4 {
  height:10vh;
  padding-top:3vh;
  font-size:1.5rem;
}
.main-bottom-body {
  height:140vh;
  max-width:80vw;
  flex-direction: column;
  align-items:center;
}
.main-bottom-body a {
  width:300px;
  height:40vh;
}
@keyframes buttony {
  from {
    width:300px;
  }
  to {
    width:calc(300px + 10px);
  }
}
/* main page */

/* Services header */
.services-header {
  padding:0 5px;
}
.services-header div {
  position:absolute;
  top:0;
  height:100vh;
  background-color: var(--bgc5);
  width:100vw;
  left:-100vw;
  flex-direction: column;
  justify-content:flex-start;
  z-index: 100;
}
#btn:checked ~ .services-tabs {
  left:0px;
}
#btn1, #btn2 {
  display:initial;
  height:10vh;
  cursor:pointer;
}
#btn2 {
  display:flex;
  width:100%;
  align-items:center;
  justify-content: end;
  padding-right:10px;
}
#btn1 {
  display:flex;
  align-items: center;
}
#btn1 .fa-solid, #btn2 .fa-solid {
  font-size:40px
}
.services-header div a {
  font-size:1.2rem;
  border-radius:0;
  height:10vh;
  width:100%;
}
.services-header div a:hover {
  background-color: var(--bgc4);
}
.services-header a .fa-solid {
  font-size:30px;
}
/* Services header */

/* tabs */
.tabs {
  padding:0 5px;
}
.tabs-tabs {
  justify-content: center;
  width:100%;
  gap:20px;
  padding:0;
  overflow-x:scroll;
}
.tabs-tabs a {
  font-size: 0.9rem;
}
/* tabs */

/* foods */
.foods, .games, .scenary{
  height:max-content;
}
#hot-beverages, #main-course, #dessert {
  height:max-content;
}
/* foods */

/* food items */
.food-items {
  justify-content: center;
}
.food {
  max-width:95vw;
}
/* food-items */

/* rooms */
#rooms {
  padding:10vh 10px;
  display:flex;
  flex-direction: column;
  gap:20px;
  align-items: center;
}
.room {
  height:350px;
  width:400px;
  max-width:95vw;
}
.room img {
  max-width: 95vw;
}
.room .room-props {
  width:90vw;
}
.room-props p {
  width:390px;
}
/* rooms */

/* room details */
.room-details {
  height:180vh;
}
.room-details-header a {
  padding:2px;
  font-size: 0.8rem;
}
.room-details-header a .fa-solid {
  font-size:20px;
}
.room-details-header h2 {
  font-size:0.9rem;
}
.room-details-body {
  height:160vh;
}
.room-details-body img {
  max-width:100vw;
}
.room-details-body ul {
  height:50vh;
  width:99%;
  display:grid;
  grid-template-columns: repeat(2, 150px);
  justify-content: center;
}
.room-details-body ul li {
  font-size:0.9rem;
}
.room-desc {
  height:30vh;
  width:95%;
  font-size:1rem;
}
.room-details form {
  padding:20px;
  height:80vh;
  width:90%;
  flex-direction: column;
}
.room-details form label {
  flex-direction: column;
  gap:10px;
}
.room-details form input {
  height:5vh;
  width:150px;
}
}
@media screen and (max-width:550px) {
  .main-header h2 {
    font-size:0.9rem;
    width:100px;
  }
  .main-header-tabs {
    width:120px;
  }
  .main-header-tabs a {
    font-size:0.8rem;
    font-weight:300;
  }
  .main-top-body p {
    font-size:1.5rem;
  }
  .main-top-body span {
    width:90vw;
  }
  .main-top-body span a {
    width:40%;
    height:5vh;
    font-size:1.0rem;
  }
  .main-bottom-body a {
    max-width: 90vw;
  }
  #btn1 .fa-solid, #btn2 .fa-solid {
    font-size:30px
  }
  .services-header a {
    font-size:1.1rem;
  }
}