* {
  margin:0;
  padding:o;
  box-sizing: border-box;
  /* border:1px solid; */
}
:root {
  --bgc1: #F0F8FF;
  --bgc2: #7B3F00;
  --bgc3: #00BFFF;
}
.app {
  height:100vh;
  width:100vw;
}
/* home page */
.home {
  height:100vh;
  width:100vw;
  position:relative;
  overflow:hidden;
}
.home-top {
  height:60vh;
  width:inherit;
  background-image: url('./images/home-image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.home-top p {
  z-index:2;
  color:white;
  display:absolute;
  font-size:4.2rem;
  font-weight:900;
  font-style: italic;
  text-shadow: -1px 1px 0 #000,
  1px 1px 0 #000,
  1px -1px 0 #000,
  -1px -1px 0 #000;
  letter-spacing: 4px;
}
.home-top i {
  color:white;
  font-size:1.6rem;
  text-shadow: -1px 1px 0 #000,
  1px 1px 0 #000,
  1px -1px 0 #000,
  -1px -1px 0 #000;
  letter-spacing: 4px;
}
.home-top img {
  height:inherit;
  width:inherit;
  object-fit: cover;
}
.home-center {
  height:16vh;
  width:700px;
  max-width:80vw;
  position:absolute;
  top:50vh;
  left:50%;
  transform: translate(-50%);
  z-index: 2;
  display:flex;
  justify-content: space-between;
  background-color: var(--bgc1);
}
.home-center hr {
  height:80%;
  margin:auto;
}
.home-center-box {
  width:25%;
  height:inherit;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: center;
  padding:2vh;
}
.home-center-box .fa-solid{
  font-size:30px;
}
.home-services-title {
  display:none;
}
.home-bottom {
  height:40vh;
  width:inherit;
  display:flex;
  justify-content: space-between;
}
.home-bottom-right {
  width:40%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
}
.home-bottom-right p {
  font-size:1.1rem;
  font-weight: 700;
}
.home-bottom-right a {
  text-decoration: none;
  background-color: var(--bgc2);
  color: white;
  padding:10px 20px;
  border-radius:10px;
  font-weight:700;
  font-size: 1.1rem;
}
.home-bottom-left {
  width:60%;
  display:flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  justify-content: space-between;
  align-items: center;
  gap:20px;
  padding:0 20px;
}
.home-bottom-left div {
  width:60%;
  text-align: end;
}
.home-bottom-left img {
  height:80%;
  width:35%;
  object-fit: cover;
  opacity:.8;
  background-color: black;
  animation: imagey 7s ease-in-out infinite ;
  animation-direction: alternate;
}
@keyframes imagey {
  0% {
    opacity:1;
  }
  70% {
    opacity:.9;
  }
  100% {
    opacity:.1;
  }
}

/* home page */
/* main page */
.main {
  height:100vh;
  width:100vw;
  overflow:hidden;
}
.main-top {
  height:50vh;
  background-image: url('./images/main-image3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-header {
  height:10vh;
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:0 20px;
}
.main-header-tabs {
  width:250px;
  display:flex;
  justify-content: space-between;
}
.main-header-tabs a {
  text-decoration:none;
  font-weight:700;
  color:white;
}
.main-top-body {
  height:40vh;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  gap:20px;
}
.main-top-body p {
  font-size:2.0rem;
  font-weight:700;
  color:white;
  text-align: center;
  /* text-shadow: -1px 1px 0 #000,
  1px 1px 0 #000,
  1px -1px 0 #000,
  -1px -1px 0 #000; */
}
.main-top-body span {
  width:400px;
  height:6vh;
  display:flex;
  justify-content: space-between;
}
.main-top-body span a {
  text-decoration: none;
  background-color: orangered;
  width:150px;
  height:inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color:black;
  font-weight:700;
  font-size:1.2rem;
  border-radius: 10px;
}
.main-bottom {
  height:50vh;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.main-bottom h4 {
  height:7vh;
  padding-top:1vh;
  font-size:1.3rem;
}
.main-bottom-body {
  height:40vh;
  width:1100px;
  max-width:80vw;
  display:flex;
  justify-content:space-between
}
.main-bottom-body a {
  width:20%;
  height:inherit;
  border-radius:15px;
  box-shadow: 1px 1px 1px black;
  text-decoration:none;
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
  color:black;
}
.main-bottom-body a:hover {
  background-color: black;
  color:white;
  animation: buttony 0.5s forwards;
}
@keyframes buttony {
  from {
    width:20%;
  }
  to {
    width:calc(20% + 2%);
  }
}
.main-bottom-body a img {
  height:80%;
  width:100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.main-bottom-body a p {
  font-weight:500;
  font-size:1.3rem;
}
/* main page */

@media screen and (max-width: 1000px) {
  /* home page */
.home {
  height:230vh;
  overflow-x: hidden;
  overflow-y: scroll;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.home-top {
  justify-content: center;
}
.home-center {
  height:40vh;
  width:400px;
  max-width:90vw;
  position:unset;
  left:0;
  transform:none;
  display:grid;
  grid-template-columns: auto auto;
  justify-content:center;
  padding:20px 0;
}
.home-center hr {
  display:none;
}
.home-center-box {
  width:40vw;
  height:15vh;
}
.home-services-title {
  display:initial;
}
.home-bottom {
  height:120vh;
  flex-direction:column-reverse;
  justify-content: space-between;
}
.home-bottom-right {
  height:20vh;
  width:100%;
}
.home-bottom-left {
  height:90vh;
  width:100%;
  flex-direction:column;
  align-items: center;
  padding:0;
}
.home-bottom-left img {
  width:300px;
  height:40vh;
  max-width:90vw;
}
.home-bottom-left div {
  height:40vh;
}
.home-bottom hr {
  display:none;
}
.home-bottom-left h3 {
  max-width:95vw;
  text-align: center;
}
.home-bottom-left p {
  padding:10px 5px;
  max-width:95vw;
  text-align: center;
}
/* home page */

/* main page */
.main {
  overflow-y:scroll;
}
.main-top {
  height:60vh;
}
.main-header {
  padding:0 10px;
}
.main-top-body {
  padding:0 20px;
}

.main-bottom {
  height:200vh;
  background-color: var(--bgc1);
  padding-bottom:10vh;
}
.main-bottom h4 {
  height:10vh;
  padding-top:3vh;
  font-size:1.5rem;
}
.main-bottom-body {
  height:180vh;
  max-width:80vw;
  flex-direction: column;
  align-items:center;
}
.main-bottom-body a {
  width:300px;
  height:40vh;
}
@keyframes buttony {
  from {
    width:300px;
  }
  to {
    width:calc(300px + 10px);
  }
}
/* main page */
}
@media screen and (max-width:550px) {
  .main-header h2 {
    font-size:0.9rem;
    width:100px;
  }
  .main-header-tabs {
    width:120px;
  }
  .main-header-tabs a {
    font-size:0.8rem;
    font-weight:300;
  }
  .main-top-body p {
    font-size:1.5rem;
  }
  .main-top-body span {
    width:90vw;
  }
  .main-top-body span a {
    width:40%;
    height:5vh;
    font-size:1.0rem;
  }
  .main-bottom-body a {
    max-width: 90vw;
  }
}